HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# configuration idea
.run

# embeeded database
sorface-sso.mv.db
sorface-sso.trace.db

# submodules web sso
web/.idea/
web/target/

# submodules client frontend authorization
client/authorization/.node/
client/authorization/build/
client/authorization/node_modules/

# submodules client frontend profile
client/profile/.node/
client/profile/build/
client/profile/node_modules/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.db
out/
!**/src/main/**/out/
!**/src/test/**/out/


