.user-avatar {
  border-radius: 100%;
  object-fit: contain;
}

.user-avatar-plug {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: #e3e3fe;
  color: #3838f5;
}
