input.otp-input {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.25rem;
    border: 1px solid var(--border);
    text-align: center;
    outline: none;
    -moz-appearance: textfield;
    transition: 0.3s;
}

input.otp-input:focus {
    border-color: var(--grey3);
    box-shadow: 0 0 0 2px rgb(from var(--grey2) r g b / 0.3);
}

input.otp-input-error {
    border-color: var(--error);
}

input.otp-input-error:focus {
    border-color: var(--error);
    box-shadow: 0 0 0 2px rgb(from var(--error) r g b / 0.3);
}

input.otp-input::-webkit-outer-spin-button,
input.otp-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
